// Colors
$grey: #333;
$lightgrey: #ddd;
$faintgrey: #eee;
$border-color: #aaa;
$border-color-dark: #999;

$light-color: white;

$color-winning: darkgreen;
$color-losing: darkred;

$money-color-win: darkgreen;
$open-color: darkgreen;
$open-background-color: lightgreen;
$open-border-color: darkgreen;
