// Colors
$grey: #333;
$lightgrey: #ddd;
$faintgrey: #eee;
$offwhitegrey: #f9f9f9;

$border-color: #aaa;
$inner-border-color: #ccc;
$border-color-dark: #999;

$error-color: darkred;
$error-background-color: #fee;

$light-color: white;

$color-winning: darkgreen;
$color-losing: darkred;

$money-color-win: darkgreen;
$open-color: darkgreen;
$open-background-color: lightgreen;
$open-border-color: darkgreen;

$anon-color: #999;

$quote-color: #999;