// Colors
$grey: #333;
$lightgrey: #ddd;
$border-color: #aaa;

$light-color: white;

$money-color-win: darkgreen;

$open-color: darkgreen;
$open-background-color: lightgreen;
$open-border-color: darkgreen;
