html, body, #app {
  height: 100%;
}

FORM {

  .error {
    margin: .5rem 0;
    border: 1px solid $error-color;
    font-style: italic;
    color: $error-color;
    padding: .2rem 1rem;
    border-radius: 5px;
    background-color: $error-background-color;
  }
}

.component__title {
  @include cheesy-black-gradient();

  color: $light-color;
  font-size: 2rem;
  padding: 0.25rem 0.5rem;
}

.site-loading {
  position: relative;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
}
