.bet__container {
  border-bottom: 3px solid $border-color;
  padding: 0.75rem;
}

.bet {

  > .title {
    font-family: monospace;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }

  > .body {
    margin-bottom: 1rem;
  }

  .desc {
    background-color: $faintgrey;
    color: $grey;
    font-style: italic;
    margin-left: 1rem;
    padding: 0.25rem 0.15rem;
  }

  .note {

    color: $grey;
    font-style: italic;
    margin-left: 1rem;
    padding: 0.25rem 0.15rem;
  }

  .bet__paid {
    color: $color-winning;
  }

  .bet__lost {
    color: $color-losing;
  }

  .stats {

    background-color: $faintgrey;
    border: 1px solid $inner-border-color;
    color: $grey;
    padding: 0.2rem;

    .stats__text {

      margin-left: .25rem;

      .stats__amount, .stats__count {
        font-weight: bold;
      }
    }

    .stats__comments {
      margin-left: 1rem;

      .stats__comment {
        background-color: $offwhitegrey;
        font-style: italic;
        margin: 0.2rem 0;
        padding: 0.2rem 0.5rem;
      }
    }

  }
}
