.bet__container {
  border-bottom: 1px solid $border-color;
  padding: 0.75rem;
}

.bet {

  > .title {
    font-family: monospace;
    font-size: 1.5rem;
    font-weight: bold;
  }

  .desc {
    background-color: $faintgrey;
    color: $grey;
    font-style: italic;
    margin-left: 1rem;
    padding: 0.25rem 0.15rem;
  }

  .note {

    color: $grey;
    font-style: italic;
    margin-left: 1rem;
    padding: 0.25rem 0.15rem;
  }

  .bet__paid {
    color: $color-winning;
  }

  .bet__lost {
    color: $color-losing;
  }
}
