.event {
  border: 1px solid $border-color;
  margin: 0 0.25rem;
  border-radius: 8px;

  .header {

    padding: 0.5rem 0.2rem 0.5rem 0.5rem;
    border-radius: 8px 8px 0px 0px;
    font-weight: bold;

    @include cheesy-black-gradient();

    .series-title {
      color: white;
      font-size: 1.5rem;
    }

    .episode-title {
      font-style: italic;
    }

    .episode-status {
      border: 2px solid $border-color;
      background-color: $lightgrey;
      border-radius: 4px;
      padding: .2rem 1.5rem;
      margin: .5rem;
    }

    .open {
      color: $open-color;
      background-color: $open-background-color;
      border-color: $open-border-color
    }
  }

  .body {

    background-color: $lightgrey;
    padding: 0.5rem;
    border-bottom: 1px solid $border-color;

    .episode-number {
      font-weight: bold;
    }

  }
}
