.event {
  border: 1px solid $border-color;

  > .header {

    padding: 0.5rem 0.2rem 0.5rem 0.5rem;
    font-weight: bold;

    @include cheesy-black-gradient();

    .series-title {
      color: white;
      font-family: 'Gotham';
      font-size: 1.5rem;

    }

    .episode-title {
      font-style: italic;
    }

    .episode-status {
      border: 2px solid $border-color;
      background-color: $lightgrey;
      border-radius: 4px;
      padding: .2rem 1.5rem;
      margin: .5rem;
    }

    .open {
      background-color: $open-background-color;
      border-color: $open-border-color;
      color: $open-color;
    }
  }

  > .body {

    background-color: $lightgrey;
    padding: 0.5rem;

    .episode-number {
      font-weight: bold;
    }

  }
}
