.leaderboard {

  margin-top: 2rem;

  .title {
    @extend .component__title;
    font-size: 2rem;
  }

  .row {
    margin-left: inherit;
    margin-right: inherit;
  }

  .leaderboard__navigation {
    border: 1px solid $border-color;
    font-size: .875rem;
    padding: 0.25rem;
  }

  .standings {
    border: 1px solid $border-color;
    border-top: 0px;
    max-height: 30.5rem;
    font-size: 1rem;
    overflow-y: scroll;
    padding: 0.25rem;
    padding-left: 1rem;
  }

  .link-active {
    font-weight: bold;
  }

  .result-row {
    height: 1.5rem;

    &:hover {
      background-color: $lightgrey;
    }

    .username {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      .anon {
        color: $anon-color;
      }
    }
  }

  .login-user {
    background-color: gold;
  }

  .current-user {
    background-color: $lightgrey;
  }

  .winnings, .balance {
    color: $color-winning;
  }

  .losses {
    color: $color-losing;
  }

  .user-link {
    color: $grey;

    &:visited, &:active, &:hover {
      color: $grey;
    }

    &:hover {
      font-weight: bold;
    }
  }

}